name: CI/CD

on:
  push:
    branches: [ master, staging ]

permissions:
  contents: write
  packages: write

jobs:
  vault:
    uses: Ucode-io/ci-cd/.github/workflows/vault_ci_cd.yml@main
    secrets:
      inherit: true
      GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    with:
      ENVIRONMENT: ${{ github.ref_name == 'master' && 'production' || github.ref_name == 'staging' && 'test' || 'unknown' }}
      ENV_TAG: ${{ github.ref_name == 'master' && 'latest' || github.ref_name == 'staging' && 'test' || 'unknown' }}
