name: CI/CD

on:
  workflow_dispatch:
  push:
    branches: [ master, staging ]

permissions:
  contents: write
  packages: write

jobs:
  ci-cd-prod:
    if: github.ref_name == 'master'
    uses: Ucode-io/ci-cd/.github/workflows/ci_cd_docker.yml@main
    with:
      ENVIRONMENT: production
      ENV_TAG: latest
    secrets: inherit