.deploy_template:
  stage: deploy
  image: gitlab.udevs.io:5050/docker/docker:dind
  before_script:
    - eval $(ssh-agent -s)
    - echo "$TRANSCODER_PRIVATE_KEY" | tr -d '\r' | ssh-add -
    - mkdir -p ~/.ssh
    - chmod 700 ~/.ssh
  script:
    - ssh -o StrictHostKeyChecking=no $SSH_USER@$SSH_HOST "sudo docker pull ${NEW_IMAGE}"
    - echo $SERVICE_FILE
    - ssh -o StrictHostKeyChecking=no $SSH_USER@$SSH_HOST "sudo sed -i 's|'${OLD_PATTERN}'|'${NEW_IMAGE}'|g' /etc/systemd/system/transcoder.service && sudo systemctl daemon-reload && sudo systemctl restart transcoder.service"